<!-- <div class="card text-left" style="width: auto;">
        <img class="card-img-top" src="https://bncc.net/public/images/content/1.png" alt="Card image cap">
        <div class="card-body">
            <p class="card-text"><i class="fas fa-calendar-alt"></i> <small class="text-muted">Saturday, 10 February 2018</small></p>
            <h5 class="card-title">BNCC Received 2013 Best Organization Award </h5>
            <p class="card-text">Bina Nusantara Computer Club is the only student activity unit that moves in computer field under...</p>
            <a href="#" class="btn btn-primary float-right" style="margin-bottom: 10px;">Read More <i class="fas fa-arrow-circle-right"></i></a>
        </div>     
    </div> 
    <div class="card text-left" style="width: auto;">
        <img class="card-img-top" src="https://bncc.net/public/images/content/2.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text"><i class="fas fa-calendar-alt"></i> <small class="text-muted">Saturday, 10 February 2018</small></p>
            <h5 class="card-title">BNCC BERHASIL MEMECAHKAN REKOR MURI</h5>
            <p class="card-text">BINA NUSANTARA COMPUTER CLUB (BNCC) berhasil memecahkan REKOR MURI dengan membuat sebuah panggung...</p>
            <a href="#" class="btn btn-primary float-right" style="margin-bottom: 10px;">Read More <i class="fas fa-arrow-circle-right"></i></a>
        </div>     
    </div> 
    <div class="card text-left" style="width: auto;">
        <img class="card-img-top" src="https://bncc.net/public/images/content/3.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text"><i class="fas fa-calendar-alt"></i> <small class="text-muted">Saturday, 10 February 2018</small></p>
            <h5 class="card-title">Jawara AOCT 2015 Jabodetabek</h5>
            <p class="card-text">Setelah sebelumnya berhasil menempatkan posisi pertama pada tahap audisi AOCT 2015 Jabodetabek pa...</p>
            <a href="#" class="btn btn-primary float-right" style="margin-bottom: 10px;">Read More <i class="fas fa-arrow-circle-right"></i></a>
        </div>     
    </div> 
    <div class="card text-left" style="width: auto;">
        <img class="card-img-top" src="https://bncc.net/public/images/content/4.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text"><i class="fas fa-calendar-alt"></i> <small class="text-muted">Saturday, 10 February 2018</small></p>
            <h5 class="card-title">BNCC Workshop 2015 </h5>
            <p class="card-text">Desember 2015 – Sebelum menutup perjalanan di tahun 2015 ini, Bina Nusantara Computer Club (BNCC)...</p>
            <a href="#" class="btn btn-primary float-right" style="margin-bottom: 10px;">Read More <i class="fas fa-arrow-circle-right"></i></a>
        </div>     
    </div> 
    <div class="card text-left" style="width: auto;">
            <img class="card-img-top" src="https://bncc.net/public/images/content/5.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text"><i class="fas fa-calendar-alt"></i> <small class="text-muted">Saturday, 10 February 2018</small></p>
                <h5 class="card-title">BNCC Technomeetup Game Development</h5>
                <p class="card-text">Jakarta, 28 Maret 2016 – Pada 19 Maret 2016 yang lalu, kembali Technopreneur Community mengadakan...</p>
                <a href="#" class="btn btn-primary float-right" style="margin-bottom: 10px;">Read More <i class="fas fa-arrow-circle-right"></i></a>
            </div>     
        </div>  -->




















        











                                        <!-- <h4 id="missionLbl1" class="missionLabel value">Creating an organization strongly embraced by culture</h4>
                                        <h4 id="missionLbl2" class="missionLabel value">Providing relevant computer education to Binus students</h4>
                                        <h4 id="missionLbl3" class="missionLabel value">Building passionate communities of technology trends</h4>
                                        <h4 id="missionLbl4" class="missionLabel value">Developing reliable technology products and services</h4>
                                        <h4 id="missionLbl5" class="missionLabel value">Empower the organization's relation to the professional world</h4>
                                        <h4 id="missionLbl6" class="missionLabel value">Giving social contribution to the people of Indonesia</h4> -->














                                <!-- <div id="file">
                                    <h4><span>File Magazine</span>, a portal media which providing Technology-Young-Business news feed, tips, fact, and many more</h4>
                                </div>
                                <div id="lnt">
                                    <h4><span>BNCC Learning and Training</span> is IT training classes for BINUS Students to enrich their portfolio and to prepare them to the career world</h4>
                                </div> -->


<!-- <div class="row">
                        <div class="col-sm-6 features-box wow fadeInLeft">
                            <div class="row">
                                <div class="col-sm-3 features-box-icon">
                                    <i class="fab fa-twitter"></i>
                                </div>
                                <div class="col-sm-9">
                                    <h3>Ut wisi enim ad minim</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                                        Ut wisi enim ad minim veniam, quis nostrud.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 features-box wow fadeInLeft">
                            <div class="row">
                                <div class="col-sm-3 features-box-icon">
                                    <i class="fab fa-instagram"></i>
                                </div>
                                <div class="col-sm-9">
                                    <h3>Sed do eiusmod tempor</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                                        Ut wisi enim ad minim veniam, quis nostrud.
                                    </p>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-sm-6 features-box wow fadeInLeft">
                            <div class="row">
                                <div class="col-sm-3 features-box-icon">
                                    <i class="fa fa-magic"></i>
                                </div>
                                <div class="col-sm-9">
                                    <h3>Quis nostrud exerci tat</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                                        Ut wisi enim ad minim veniam, quis nostrud.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 features-box wow fadeInLeft">
                            <div class="row">
                                <div class="col-sm-3 features-box-icon">
                                    <i class="fa fa-cloud"></i>
                                </div>
                                <div class="col-sm-9">
                                    <h3>Minim veniam quis nostrud</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                                        Ut wisi enim ad minim veniam, quis nostrud.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div> -->