@font-face{
	src : url('../fonts/Lato-Regular.ttf');
	font-family: 'lato';
}

body,html{
	padding:0;
	margin: 0px;
	box-sizing: border-box;
}

.wrapper{
	perspective: 1500px;
	height: 660px;
	background-color: #fff;
	position: fixed;
	width: 100%;
}

.btn-wrapper{
	padding-top: 200px;
	background-color:#2f2929;
	height: 660px;
	text-align: center;
	border-radius: 10px;
	color: #f1f1f1;
	transition: 500ms all ease;
	transform: translateZ(0px) rotateX(0deg) translateY(0%);	
	z-index: 100;
}

.animate-menu{
	transform: translateZ(-1500px) rotateX(75deg) translateY(145%);
	transform-origin: 50% 50%; 
	backface-visibility: hidden;
}

.btn-wrapper p{
	padding-top: 50px;
	color: #f1f1f1;
	font-family: 'lato';
	font-size: 1.3em;
	line-height: 1.5;
}

.btn-menu{
	padding: 0.65em 2em;
	font-family: 'lato',Open Sans;
	font-size: 1.5em;
}

.menu-wrapper{
	width: 100px;
	text-align:center;
	position: absolute;
	top:20%;
	z-index: -50;
	left: 50%;
	transform: translateX(-50%);
}

.list-show{
	opacity: 1 !important;
	transform: translateY(0) !important;
}

.menu-wrapper a{
	display: block;
	color: #f9fafb;
	font-family: 'lato';
	font-size: 2em;
	line-height: 1.6;
	text-decoration: none;
	transition: transform 0.4s,opacity 0.4s;
	opacity: 0;
	transform: translateY(-100px);
}

.menu-wrapper a:nth-child(6){
	transition-delay: 0s;
}

.menu-wrapper a:nth-child(5){
	transition-delay: 0.04s;
}

.menu-wrapper a:nth-child(4){
	transition-delay: 0.08s;
}

.menu-wrapper a:nth-child(3){
	transition-delay: 0.16s;
}

.menu-wrapper a:nth-child(2){
	transition-delay: 0.20s;
}

.menu-wrapper a:nth-child(1){
	transition-delay: 0.24s;
}

.menu-wrapper a:hover{
	color: black;
}