body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
}

strong { font-weight: 500; }

a, a:hover, a:focus {
	color: #0AB0DA; text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 { margin-top: 10px; font-family: 'Raleway', sans-serif; font-size: 48px; font-weight: 800; color: #555; line-height: 56px; }
h3 { font-family: 'Raleway', sans-serif; font-size: 32px; font-weight: 500; color: #555; line-height: 40px; }
h1>span, h2>span, h3>span, p>span{ color: #0AB0DA;}

img { max-width: 100%; }

.medium-paragraph { font-size: 18px; line-height: 34px; }

.colored { color: #0AB0DA; }

::-moz-selection { background: #0AB0DA; color: #fff; text-shadow: none; }
::selection { background: #0AB0DA; color: #fff; text-shadow: none; }

/***** General style, all sections *****/

	.section-container { margin: 0 auto; /*padding-bottom: 80px;*/ }
	.section-description { margin-top: 60px; padding-bottom: 10px; }
	.section-description p { margin-top: 20px; padding: 0 120px; }
	.text-bncc { color: #0AB0DA}
	.text-border-bncc, .text-border-bncc:focus { color: #0AB0DA; border-color: #0AB0DA}

/* product section */

	/* Gambar logo product */
	.our-product-image {
		max-width: 180px;
    	margin:auto;
	}

	/* Kotak logo produk */
	.our-product {
		min-width: 180px;
		min-height: 102px;
		display: flex;
		align-items: center;
	}

	/* Kotak hitam di logo produk */
	.our-product::before {
		content: '';
		position: absolute;
		top: 100%;
		right: 0;
		bottom: 0;
		left: 0;
		background: #333;
		opacity: .0; 
		-o-transition: top 0.5s, opacity 0.25s linear;
		-webkit-transition: top 0.5s, opacity 0.25s linear;
		transition: top 0.5s, opacity 0.25s linear;
	}

	/* Animasi kotak hitam muncul dari bawah ke atas */
	.our-product:hover::before {
		top: 0;
		opacity: .8;
	}

	.button-div {
		position: absolute;
		min-height: 100%;
		min-width: 100%;
		text-align: center;
		left: 0;
    	top: 25%;
	}

	.button-product {
		opacity: 0;
		-o-transition: opacity .35s ease;
		-webkit-transition: opacity .35s ease;
		transition: opacity .35s ease;
	}

	/*peter add gojek*/
	.gojek-add > h3{
		color:#fff;
		margin-top: 30px;
		margin-bottom: 0px;
	}
	.gojek-logo >img {
		margin-top: 20px;
	}

	/* Animasi Memunculkan Button */
	div.our-product:hover a.button-product {
		opacity: 1;
	}


	/* biar ada overlay di gambar atas */
	.top-content::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: #000;
		opacity: .8; 
	}

	.product-desc {
		display: none;
		opacity: 0;
		width: 100%;
		min-height: 0px;
		text-align: left;
		-o-transition: min-height 0.35s, visibility 0.25s, opacity 0.25s linear;
		-webkit-transition: min-height 0.35s, visibility 0.25s, opacity 0.25s linear;
		transition: min-height 0.35s, visibility 0.25s, opacity 0.25s linear;
	}

	.product-desc.show {
		display: block;
		min-height: 300px;
	}

	.product-desc div{
		/* display: none;
		opacity: 0; */
		-o-transition: opacity 0.1s linear;
		-webkit-transition: opacity 0.1s linear;
		transition: opacity 0.1s linear;
	}

	#product-desc-div > h4 {
		font-family: 'Roboto', sans-serif;
		font-weight: 700;
	}

	span.fave {
		color: #FABE22;
	}

	span.file {
		color: #D91E18;
	}

	span.lnt {
		color: #0FB0DD;
	}

	#product-desc-url {
		text-align: center; 
		color:white;
		-o-transition: opacity 0.1s linear;
		-webkit-transition: opacity 0.1s linear;
		transition: opacity 0.1s linear;
	}

/* News Section */

	img.img-tall{
		min-width: 100%;
	}
	div.card-img-top-layer {
		position: relative;
		height: 250px;
		overflow: hidden;
	}

	a:hover div.card-img-top-layer::before  {
		opacity: .6; 
	}

	div.card-img-top-layer::before  {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: #0AB0DA;
		opacity: .0; 
		-o-transition: top 0.5s, opacity 0.25s linear;
		-webkit-transition: top 0.5s, opacity 0.25s linear;
		transition: top 0.5s, opacity 0.25s linear;
	}

	.card-body a {
		color: #555;
		-webkit-transition: color 0.2s ease-out;
		-moz-transition: color 0.2s ease-out;
		-o-transition: color 0.2s ease-out;
		transition: color 0.2s ease-out;
	}

	.card-body a:hover {
		color: #0FB0DD;
	}

	.card-columns {
		column-count: 3;
	}



/* preloader styling */
	.js div#preloader { 
		position: fixed; 
		left: 0; 
		top: 0; 
		z-index: 1031; 
		width: 100%; 
		height: 100%; 
		overflow: visible; 
		/* background: #333 url('http://files.mimoymima.com/images/loading.gif')
		no-repeat center center; */
		background: #333 url('../svg/bncc-white-animated.svg')
		no-repeat center center;
	}
/* preloader animsition loading */

	.animsition-loading-custom {
		position: fixed; 
		left: 0; 
		top: 0; 
		z-index: 1031; 
		width: 100%; 
		height: 100%; 
		overflow: visible; 
		/* background: #333 url('http://files.mimoymima.com/images/loading.gif')
		no-repeat center center; */
		background: #fff url('../svg/bncc-original-animated.svg')
		no-repeat center center;
	}


/* parallax */
	.jumbotron .paral{margin-bottom: 0;}

	.darken h1, .darken h2, .darken h3, .darken h4 {
		color: #fff;
	}

	/* Gradien Jadi Gelap */
	.darken::before {
		background-image: linear-gradient(to bottom right,#000000,#000000) !important;
		opacity: .5 !important;
		content: '' !important;
	}

	.paral {
		min-height: 400px;
		background-attachment: fixed;
		background-size: cover;
		background-position: 50% 50%;
		/* padding untuk parallax */
		padding-right: 15px;
		padding-left: 15px;
	}

	.paral > .row {
		padding-left: 5px;
		padding-right: 5px;
	}

	.parallax-1 {
		background-image: url("../img/parralax-1.png");
		position: relative;
		background-position: center center;
	}
	.parallax-1::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to bottom right,#e3f5ff,rgb(255, 217, 217));
		opacity: .8; 
	}

	.parallax-2 {
		background-image: url("../img/parralax-2.jpg");
		position: relative;
		background-position: center center;
	}
	.parallax-2::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to bottom right,#e3f5ff,rgb(255, 217, 217));
		opacity: .8; 
	}

	.parallax-3 {
		background-image: url("../img/parralax-3.jpg");
		position: relative;
		background-position: center center;
	}
	.parallax-3::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to bottom right,#e3f5ff,rgb(255, 217, 217));
		opacity: .8; 
	}

	.parallax-4 {
		background-image: url("../img/parralax-4.jpg");
		position: relative;
		background-position: center center;
	}
	.parallax-4::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to bottom right,#e3f5ff,rgb(255, 217, 217));
		opacity: .8; 
	}

	.parallax-5 {
		background-image: url("../img/parralax-5.jpg");
		position: relative;
		background-position: center center;
	}
	.parallax-5::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to bottom right,#e3f5ff,rgb(255, 217, 217));
		opacity: .8; 
	}

	.parallax-6 {
		background-image: url("../img/parralax-6.jpg");
		position: relative;
		background-position: center center;
	}
	.parallax-6::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to bottom right,#e3f5ff,rgb(255, 217, 217));
		opacity: .8; 
	}


/* Our Mission Gridding and Hexagon */
	#iconDetail {
		min-height: 100px;
		max-height: 100px;
		opacity: 1;
		margin-bottom: 30px;
		-o-transition: opacity 0.25s linear;
		-webkit-transition: opacity 0.25s linear;
		transition: opacity 0.25s linear;
	}
	

	.container-hexa {
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}

	.m-1 {
		max-height: 60px;
	}

	#hexagon {
		width: 66px;
		height: 104px;
		background: rgb(41, 41, 41);
		position: relative;
		z-index:-1;
		margin:0 auto;
		transform: rotate(90deg);
	}
	#hexagon::before {
		content: "";
		left:-66px;
		display:block;
		position: relative;
		border-right: 30px solid rgb(41, 41, 41);
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
	}
	#hexagon::after {
		content: "";
		right:-66px;
		top:-104px;
		position: relative;
		display:block;
		border-left: 30px solid rgb(41, 41, 41);
		border-top: 52px solid transparent;
		border-bottom: 52px solid transparent;
	}

	.hex-over {
		z-index:5;
		position:relative;
		width:100%;
		top: -85px;
		right: 1px;
		text-align:center;
		color:#fdfdfd;
		font-size:69px;
		padding:0 0px 1px 0px;
		font-weight:bold;
		letter-spacing:2px;
	}

	#missionTextDetail {
		-o-transition: visibility 0s, opacity 0.25s linear;
		-webkit-transition: visibility 0s, opacity 0.25s linear;
		transition: visibility 0s, opacity 0.25s linear;
	}


/* Carousel */
	h3.carousel-event-title {
		font-weight: 700;
	}

	.carousel-item > .img-layer {
		overflow: hidden;
		width: 100%;
		background-color: rgba(0,0,0,0.8);
		height: 350px;
    	position: relative;
	}

	.img-layer > img {
		width: 100%;
		/* height: 220px; */
		position: absolute;
		top: 0;
		left: 0;
		z-index: -3;
		object-fit: cover;
	}

	.carousel-caption h3 {
		color: #fff;
		font-weight: 800;
		text-transform: uppercase;
	}

	.carousel-caption-box {
		padding: 0px 7px;
		background-color: #0FB0DD; /*Default Color*/
		border-radius: 12px;
		display: inline-block;
		margin-bottom: 5px;
	}

	.carousel-caption-box > p {
		margin-bottom: 0;
	}


/* History CSS */


/***** Divider *****/
	.divider-1 { padding: 25px 0 15px 0; }
	.divider-1 .line { width: 160px; margin: 0 auto; border-bottom: 1px dashed #ccc; }
	.divider-1 .line.black { width: 160px; margin: 0 auto; border-bottom: 1px dashed #555; }
/***** Top menu *****/

	.navbar {
		margin-bottom: 0;
		/* padding-top: 0; */
		background: #fff;
		border: 0;
		-moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
		-webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
		box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
		-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
		-o-transition: all .6s; -moz-transition: all .6s; -webkit-transition: all .6s; -ms-transition: all .6s; transition: all .6s;
	}
	.navbar-no-bg {
		padding-top: 10px; background: none;
		-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
	}

	ul.navbar-nav {
		font-family: 'Raleway', sans-serif;
		font-size: 14px;
		color: #888;
		font-weight: 400;
		text-transform: uppercase;
	}

	ul.navbar-nav li a { background: none; color: #888; border: 0; }
	ul.navbar-nav li a:hover { background: none; color: #aaa; border: 0; }
	ul.navbar-nav li a:focus { background: none; color: #aaa; outline: 0; border: 0; }

	.navbar-no-bg ul.navbar-nav { color: #fff; }
	.navbar-no-bg ul.navbar-nav li a { color: #fff; }
	.navbar-no-bg ul.navbar-nav li a:hover { color: #ddd; }
	.navbar-no-bg ul.navbar-nav li a:focus { color: #ddd; }

	ul.navbar-nav li a.btn-link-3 {
		position: relative;
		display: inline-block;
		margin: 9px 0 0 15px;
		padding: 6px 15px;
		background: #0AB0DA;
		border: 0;
		font-family: 'Raleway', sans-serif;
		font-size: 14px;
		font-weight: 300;
		color: #fff;
		text-transform: uppercase;
		-moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
	}
	ul.navbar-nav li a.btn-link-3:hover,
	ul.navbar-nav li a.btn-link-3:focus,
	ul.navbar-nav li a.btn-link-3:active,
	ul.navbar-nav li a.btn-link-3:active:focus { outline: 0; background: rgb(41, 102, 117); color: #fff; }

	.navbar-brand {
		width: 102px;
		background: url(../img/BNCC_M.png) left center no-repeat;
		text-indent: -99999px;
	}
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand { margin-left: 0; }

	.navbar-no-bg .navbar-brand { background-image: url(../img/BNCC_FW.png); }

	.navbar-toggle .icon-bar { background: #555; }

	.navbar-dark .navbar-nav .nav-link {
		color: rgb(255, 255, 255);
	}

	.dropdown-menu.show {
		text-align: center;
		display: inline-block;
	}

/***** Top content *****/

	.top-content { 
		padding: 120px 0 150px 0; 
		height: 100vh;
		display: flex;
		align-items: center;
	}

	.top-content .text { padding-top: 60px; color: #fff; }
	.top-content .text h1 { color: #fff; }

	.jumbtron.paral > .row > .text {
		padding-bottom: 40px;
		size: auto;
	}

	.top-content .description { margin: 30px 0 10px 0; }
	.top-content .description p { opacity: 0.8; }
	.top-content .description a { color: #fff; border-bottom: 1px dotted #fff; }
	.top-content .description a:hover, .top-content .description a:focus { color: #fff; border: 0; }




/***** Features *****/

	.features-box { margin-top: 30px; text-align: left; }
	.features-box .features-box-icon { font-size: 60px; color: #0AB0DA; line-height: 60px; text-align: center; }
	.features-box h3 { margin-top: 0; padding: 0 0 10px 0; }


/***** Footer *****/

	footer { padding: 40px 0 45px 0; background: #f8f8f8; }

	.footer-copyright { padding-top: 15px; }
	.footer-copyright a { color: #888; border-bottom: 1px dotted #888; }
	.footer-copyright a:hover, .footer-copyright a:focus { color: #888; border: 0; }


/***** MEDIA QUERIES *****/

	@media (min-width: 992px) and (max-width: 1199px) {}

	@media (max-width: 991px) {
		/* Untuk memunculan scroll ketika navigasi dalam bentuk mobile */
		.navbar-scrollable {
			max-height:200px ;
			overflow-y: scroll;
		}
	}

	@media (min-width: 768px) and (max-width: 991px) {
		
		.section-description p { padding: 0; }
		
		.features-box .features-box-icon { font-size: 50px; line-height: 50px; }


	}

	@media (max-width: 767px) {
		
		.navbar { /*padding-top: 0;*/ background: #fff; }
		.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand { margin-left: 15px; }
		.navbar-collapse { border: 0; }
		.navbar-toggle { border-color: transparent; }
		ul.navbar-nav li a.btn-link-3 { margin: 10px; }
		
		.navbar-no-bg {
			-moz-box-shadow: 0 1px 5px 0 rgba(255, 255, 255, 0.1);
			-webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
			box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
		}
		
		.navbar-dark .navbar-toggler-icon {
			background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>")
		}

		.navbar-dark .navbar-nav .nav-link {
			color: rgb(152, 152, 152);
		}

		.navbar-dark .navbar-toggler {
			border-color: rgba(0, 0, 0, 0.1);
		}


		.navbar-no-bg .navbar-brand { background-image: url(../img/BNCC_M.png); }
		
		.navbar-no-bg ul.navbar-nav { color: #888; }
		.navbar-no-bg ul.navbar-nav li a { color: #888; }
		.navbar-no-bg ul.navbar-nav li a:hover { color: #aaa; }
		.navbar-no-bg ul.navbar-nav li a:focus { color: #aaa; }
		
		.navbar-no-bg ul.navbar-nav li a.btn-link-3 { color: rgb(255, 255, 255); }
		.navbar-no-bg ul.navbar-nav li a.btn-link-3:hover,
		.navbar-no-bg ul.navbar-nav li a.btn-link-3:focus,
		.navbar-no-bg ul.navbar-nav li a.btn-link-3:active,
		.navbar-no-bg ul.navbar-nav li a.btn-link-3:active:focus { color: rgb(255, 255, 255); }
		
		/* end navbar */
		
		.section-description p { padding: 0; }
		
		.top-content { padding: 40px 0 60px 0; }
		
		.features-box { text-align: center; }
		.features-box h3 { margin-top: 5px; padding-top: 10px; }


		.card-columns {
			column-count: 2;
		}

		#missionTextDetail {
			padding-bottom: 55px;
		}
	}

	@media (min-width: 576px) and (max-width: 843px) {
		.carousel-caption h3 {
			font-size: 21px;
		}
	}


	@media (min-width: 576px) and (max-width: 604px) {
		h3.carousel-event-title {
			font-size: 30px;
		}
	}

	@media (max-width: 576px) {
		.card-columns {
			column-count: 1;
		}
	}

	@media (max-width: 415px) {
		
		h1, h2 { font-size: 36px; }

		.js div#preloader { 
			background-size: 250px;
		}

		.animsition-loading-custom { 
			background-size: 250px;
		}

	}


/* Retina-ize images/icons */
	/* @media
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (   min--moz-device-pixel-ratio: 2),
	only screen and (     -o-min-device-pixel-ratio: 2/1),
	only screen and (        min-device-pixel-ratio: 2),
	only screen and (                min-resolution: 192dpi),
	only screen and (                min-resolution: 2dppx) {
		
		// logo
		.navbar-brand {
			background-image: url(../img/BNCC_M@2x.png) !important; background-repeat: no-repeat !important; background-size: 102px 32px !important;
		}
		
		.navbar-no-bg .navbar-brand { background-image: url(../img/BNCC_FW@2x.png); }
		
	} */

	.content{
		font-size: 15pt;
		color: black;
		text-align: left;
	}

	.tile-news-top{
		color: black;
	}	