
/**
 * Profile image component
 */
 .profile-header-container{
    margin: 0 auto;
    text-align: center;
}

.profile-header-img {
    /* padding: 54px; */
    padding: 10px;
}

.profile-header-img > img.rounded-circle {
    max-width: 120px;
    max-height: 120px;
    border: 2px solid #333;
}

.profile-header {
    margin-top: 43px;
}

/**
 * Jabatan component
 */
.jabatan-label-container {
    margin-top: -19px;
    /* z-index: 1000; */
    text-align: center;
}

.label.label-default.jabatan-label {
    background-color: #333;
    padding: 5px 10px 5px 10px;
    border-radius: 27px;
    color: floralwhite;
}


@media (min-width: 768px) and (max-width: 954px) {
    .label.label-default.jabatan-label {
        font-size: 10px;
    }
}


.profile-name {
    color: #333
}