/* .carousel-item blockquote p:before {
    content: "\f10d";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    float: left;
    margin-right: 10px;
} */
/* 
html {
    height: 100%;
  }
  body {
    background: linear-gradient(130deg, #07d9a3, #048fee);
    background-size: 400% 400%;
    -webkit-animation: gradient 16s ease infinite;
    -moz-animation: gradient 16s ease infinite;
    animation: gradient 16s ease infinite;
  } */
  .slider-testimonial-container {
    margin: auto;
    padding: 20px;
    width: 80%;
    max-width: 1200px;
    min-width: 300px;
  }
  .slick-slider {
    margin: 30px auto 50px;
  }
  .slick-prev, .slick-next {
    color: white;
    opacity: 1;
    height: 40px;
    width: 40px;
    margin-top: -20px;
  }
  .slick-prev path, .slick-next path {
    fill: rgba(255, 255, 255, 0.4);
  }
  .slick-prev:hover path, .slick-next:hover path {
    fill: #fff;
  }
  .slick-prev {
    left: -35px;
  }
  .slick-next {
    right: -35px;
  }
  .slick-prev:before, .slick-next:before {
    content: none;
  }
  .slick-dots li button:before {
    color: rgba(255, 255, 255, 0.4);
    opacity: 1;
    font-size: 8px;
  }
  .slick-dots li.slick-active button:before {
    color: #fff;
  }
  .quote-container {
    min-height: 200px;
    color: #666;
    font-size: 36px;
    margin: 0 20px;
    position: relative;
  }
  .quote-container:hover {
    cursor: grab;
  }
  .quote-container .portrait {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 140px;
    width: 140px;
    overflow: hidden;
  }
  .quote-container .portrait img {
    display: block;
    height: auto;
    width: 100%;
  }
  .quote-container .quote {
    position: relative;
    z-index: 600;
    padding: 40px 0 40px 180px;
    margin: 0;
    font-size: 20px;
    font-style: italic;
    line-height: 1.4 !important;
    font-family: Calibri;
    color: white;
  }
  .quote-container .quote p {
    position: relative;
    margin-bottom: 20px;
  }
  .quote-container .quote p:first-child:before {
    content: '\201C';
    color: rgba(255, 255, 255, 0.44);
    font-size: 7.5em;
    font-weight: 700;
    opacity: 1;
    position: absolute;
    top: -0.4em;
    left: -0.2em;
    text-shadow: none;
    z-index: -10;
  }
  .quote-container .quote cite {
    display: block;
    font-size: 14px;
  }
  .quote-container .quote cite span {
    font-size: 16px;
    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .dragging .quote-container {
    cursor: grabbing;
  }
  .octogon {
    -webkit-clip-path: polygon(50% 0%, 38.11% 6.7%, 24.99% 6.72%, 18.06% 18.44%, 6.7% 25%, 6.56% 38.64%, 0% 50%, 6.7% 61.89%, 6.7% 75%, 18.44% 81.94%, 25% 93.3%, 38.64% 93.44%, 50% 100%, 61.88% 93.3%, 75% 93.3%, 81.94% 81.56%, 93.3% 74.9%, 93.44% 61.36%, 100% 50%, 93.3% 38.11%, 93.3% 25%, 81.56% 18.06%, 74.96% 6.7%, 61.36% 6.56%, 50% 0%);
    /* uncomment <svg> juga kalau mau pake yang ini*/ 
    /*clip-path: url(#octogon); */
    clip-path: polygon(50% 0%, 38.11% 6.7%, 24.99% 6.72%, 18.06% 18.44%, 6.7% 25%, 6.56% 38.64%, 0% 50%, 6.7% 61.89%, 6.7% 75%, 18.44% 81.94%, 25% 93.3%, 38.64% 93.44%, 50% 100%, 61.88% 93.3%, 75% 93.3%, 81.94% 81.56%, 93.3% 74.9%, 93.44% 61.36%, 100% 50%, 93.3% 38.11%, 93.3% 25%, 81.56% 18.06%, 74.96% 6.7%, 61.36% 6.56%, 50% 0%);
    height: 140px;
    width: 140px;
  }
  
  

  @media (max-width: 768px) {
        
    .quote-container .portrait {
        position: relative;
    }

    .quote-container .quote {
        padding: 0;
    }


}
  