@media screen and (max-width: 576px) {
	div.card-img{
		margin-bottom: 20px !important;
	}
	div.card2 {
		padding-top: 0px !important;
		height: 200px;
		padding-top: 10px;
 	}
 	.text-sm-center{
 		font-size: 1em;
 	}
 	.card-small{
		height:230px;
		overflow:hidden;
	}
	.card-last{
	 	height: 500px;
	 	overflow: hidden;
	 }
}

@media screen and (max-width: 768px) {
	div.card-img{
		margin-bottom: 20px !important;
	}

	div.card2 {
 	padding-top: 0px !important;
 	}
 }

 @media screen and (max-width: 991px) {
	div.card-img{
		margin-bottom: 20px !important;
	}
	div.card2 {
		padding-top: 0px !important;
		height: 200px;
		padding-top: 10px;
 	}
 	.text-sm-center{
 		font-size: 1em;
 	}
 	.card-small{
		height:230px;
		overflow:hidden;
	}
	.card-last{
	 	height: 500px;
	 	overflow: hidden;
	 }
 }

.card-img {
    width: 100%;
    margin-bottom: 40px;
 }

 .card-last{
 	height: 500px;
 	overflow: hidden;
 }

 .card2{
 	height: 200px;
 	padding-top: 10px;
 }

.card-small{
	height:230px;
	overflow:hidden;
}